.display
{
    font-family: fantasy;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 210px;

    border: thin solid;
    border-radius: 5px;
    background-color: antiquewhite;
}

.setting
{
    font-style: italic;

    padding: 5px;

    text-align: center;
}

.error
{
    color: red;
}

.usual
{
    font-size: 120px;

    color: black;
}

.limit
{
    font-weight: bold;

    color: red;
}
