.display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 210px;
  background-color: antiquewhite;
  border: thin solid;
  border-radius: 5px;
  font-family: fantasy;
}

.setting {
  text-align: center;
  font-style: italic;
  padding: 5px;
}

.error {
  color: red;
}

.usual {
  font-size: 120px;
  color: black;
}

.limit {
  font-weight: bold;
  color: red;
}
