.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  margin: 2px;
  align-self: center;
  width: 55%;
  outline-color: black;
  font-family: fantasy;
  font-style: italic;
  text-align: center;
}

.input.error {
  border-color: red;
  outline-color: red;
}


