.setDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 210px;
  background-color: antiquewhite;
  border: thin solid;
  border-radius: 5px;
  text-align: center;
}